/* Colors */
:root {
    color-scheme: dark light;
    background-color: canvas;
    --color: canvastext;
    font-family: system-ui;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    @media (prefers-color-scheme: light) {
        color-scheme: light;
    }
}

a {
    color: var(--text);
    text-underline-offset: 0.25rem;
}