/* Vars */
:root {
    --background: canvas;
    --text: canvastext;
    --accent: oklch(60% 0.25 256);
    --accent-text: oklch(100% 0 0);
    --danger: oklch(60% 0.25 16);
    --transition: 0.25s;
}

/* Colors */
:root {
    color-scheme: dark light;
    font-family: system-ui;
}

a {
    color: var(--text);
    text-underline-offset: 0.25rem;
    transition: var(--transition);

    &:hover {
        color: var(--accent);
    }
}