---
import ThemeToggle from "./ThemeToggle.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<header>
    <h1>{title}</h1>
    <ThemeToggle />
</header>

<style>
    header {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 1.5rem;
    }

    h1 {
        text-align: center;
        margin: 0;
    }
</style>
