---
import { Sun, Moon } from "lucide-astro";
---

<label title="Theme toggle">
    <input type="checkbox" name="theme-toggle" id="theme-toggle" />
    <Sun class="sun" />
    <Moon class="moon" />
</label>

<style>
    label {
        display: inline-flex;
        padding: 0.5rem;
        color: var(--text);
        background-color: transparent;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
            color: var(--accent);
        }

        &:active {
            transform: scale(0.75);
        }
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    @media (prefers-color-scheme: light) {
        input:not(:checked) ~ .sun {
            display: none;
        }

        input:checked ~ .moon {
            display: none;
        }
    }

    @media (prefers-color-scheme: dark) {
        input:not(:checked) ~ .moon {
            display: none;
        }

        input:checked ~ .sun {
            display: none;
        }
    }

    input {
        display: none;
    }
</style>
