---
const table = Array.from({ length: 10 }, (_) =>
    Array.from({ length: 10 }, (_) => 0),
);
---

<table>
    <tbody>
        {
            table
                .map((row, i) => (
                    <tr>
                        {i % 2
                            ? row
                                  .map((_, j) => (
                                      <td id={`position-${10 * i + j}`}>
                                          {10 * i + j}
                                      </td>
                                  ))
                                  .reverse()
                            : row.map((_, j) => (
                                  <td id={`position-${10 * i + j}`}>
                                      {10 * i + j}
                                  </td>
                              ))}
                    </tr>
                ))
                .reverse()
        }
    </tbody>
</table>

<style>
    table {
        margin: auto;
        border: 0.125rem solid var(--text);
        filter: opacity(50%);
    }

    tbody {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        aspect-ratio: 1 / 1;
    }

    tr {
        display: flex;
        justify-content: space-evenly;

        &:not(:last-child) {
            border-bottom: 0.125rem solid var(--text);
        }
    }

    td {
        aspect-ratio: 1;
        width: 4rem;

        &:not(:last-child) {
            border-right: 0.125rem solid var(--text);
        }
    }
</style>
