---
import { Dice1 } from "lucide-astro";
---

<div
    class="dice"
    hx-get="/partials/roll-dice"
    hx-swap="outerHTML"
    hx-select=".dice"
>
    <button
        id="dice"
        hx-get="/partials/set-player-position"
        hx-target={`#position-0`}
        hx-swap="afterbegin"
        hx-select="#player"
        hx-trigger="load">Roll Dice</button
    >
    <div id="dice-value"><Dice1 /></div>
</div>

<style is:global>
    .dice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #dice {
        font-size: 1.125rem;
        padding: 0.5rem;
        cursor: pointer;
        border: none;
        background-color: var(--accent);
        color: var(--accent-text);
        border-radius: 0.5rem;
        transition: var(--transition);

        &:hover {
            box-shadow: 0 0 1rem 0.25rem var(--accent);
        }
    }
</style>

<style is:global>
    #dice-value svg {
        height: 2rem;
        width: 2rem;
    }
</style>
