---
import { turn } from "../../scripts/position";
import DiceValue from "./DiceValue.astro";
import Turn from "./Turn.astro";
---

<div class="dice">
    <Turn player={turn.get()} />
    <button
        id="dice"
        hx-get="/partials/roll-dice"
        hx-target="#dice-value"
        hx-swap="outerHTML">Roll Dice</button
    >
    <DiceValue value={3} />
</div>

<style>
    .dice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    button {
        font-size: 1.125rem;
        padding: 0.5rem;
        cursor: pointer;
        border: none;
        background-color: var(--accent);
        color: var(--accent-text);
        border-radius: 0.5rem;
        transition: var(--transition);

        &:hover {
            box-shadow: 0 0 1rem 0.25rem var(--accent);
        }
    }
</style>
