---
import { Cat, Dog, Rabbit, Rat } from "lucide-astro";

interface Props {
    player: number;
}

const { player } = Astro.props;
---

<div>
    {player === 1 && <Rabbit />}
    {player === 2 && <Rat />}
    {player === 3 && <Cat />}
    {player === 4 && <Dog />}
</div>
