---
import BaseLayout from "../layouts/BaseLayout.astro";
import Board from "../components/game/Board.astro";
import Dice from "../components/game/Dice.astro";
import Reset from "../components/game/Reset.astro";
---

<BaseLayout>
    <main>
        <Board />
        <div class="controls">
            <Dice />
            <Reset />
        </div>
    </main>
</BaseLayout>

<style>
    main {
        width: min(64rem, 88%);
        margin: auto;
        display: flex;
        align-items: center;
    }

    .controls {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
</style>
