---
import BaseLayout from "../layouts/BaseLayout.astro";
import Board from "../components/game/Board.astro";
import Dice from "../components/game/Dice.astro";
---

<BaseLayout>
    <main>
        <Board />
        <Dice />
    </main>
</BaseLayout>

<style>
    main {
        width: min(64rem, 88%);
        margin: auto;
        display: flex;
    }
</style>
