---
import { Dice1, Dice2, Dice3, Dice4, Dice5, Dice6 } from "lucide-astro";
import { position } from "../../scripts/position";
import Board from "../../components/game/Board.astro";

export const partial = true;

const rollDice = Math.round(Math.random() * 5) + 1;
const oldPosition = position.get();
const newPosition = oldPosition + rollDice;

if (newPosition <= 99) {
    position.set(newPosition);
}
---

<div id="dice-value">
    {
        rollDice === 1 ? (
            <Dice1 />
        ) : rollDice === 2 ? (
            <Dice2 />
        ) : rollDice === 3 ? (
            <Dice3 />
        ) : rollDice === 4 ? (
            <Dice4 />
        ) : rollDice === 5 ? (
            <Dice5 />
        ) : (
            <Dice6 />
        )
    }
</div>
<Board player1Position={position.get()} />
